@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* ==================== Add Google Font ================= */
/* ==================== Global Variable */
/* ==================== Style Default =================== */
.zt-domain-wrap {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.zt-domain-wrap * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.zt-domain-wrap a:hover {
    text-decoration: none;
}
.zt-domain-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.zt-domain-wrap div.modal {
    border-radius: 0;
    width: 880px;
    margin-left: -440px;
}
.zt-domain-wrap .modal-header {
    background-color: #cccccc;
    padding: 20px 15px;
}
.zt-domain-wrap .search-label {
    font-size: 19px;
    line-height: 47px;
}
.zt-domain-wrap .search input[type="text"],
.zt-domain-wrap .search input[type="password"],
.zt-domain-wrap .search input[type="tel"],
.zt-domain-wrap .search input[type="email"] {
    height: 47px;
    width: calc(100% - 200px);
    border: 1px solid #e0e0e0;
    border-radius: 0;
    font-size: 13px;
    padding-left: 10px;
    float: left;
    box-shadow: none;
}
.zt-domain-wrap .search .btn-search {
    width: 182px;
    height: 47px;
    text-align: center;
    line-height: 39px;
    background-color: #ff3333;
    background-image: none;
    border: none;
    border-radius: 0;
    float: right;
    text-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0;
}
.zt-domain-wrap .search .btn-search .fa {
    font-size: 17px;
    padding-left: 10px;
}
.zt-domain-wrap #zt-domain-ext {
    display: none;
}
.zt-domain-wrap #zt-domain-ext .zt-domain-ext-title {
    border-bottom: 1px solid #e0e0e0;
    margin: 40px 0 38px;
    padding-bottom: 30px;
    line-height: 30px;
}
.zt-domain-wrap #zt-domain-ext .zt-domain-ext-title span,
.zt-domain-wrap #zt-domain-ext .zt-domain-ext-title .fa {
    color: #ff3333;
    cursor: pointer;
}
.zt-domain-wrap #zt-domain-ext .zt-domain-ext-title .fa {
    font-size: 28px;
}
.zt-domain-wrap #zt-domain-ext > ul li {
    margin-bottom: 19px;
    width: 10%;
}
.zt-domain-wrap #zt-domain-ext > ul li .SCheckbox {
    opacity: 0;
    visibility: hidden;
    width: 0;
}
.zt-domain-wrap #zt-domain-ext > ul .check {
    color: #666666;
    cursor: pointer;
}
.zt-domain-wrap #zt-domain-ext > ul .check.checker .fa {
    color: #ff3333;
}
.zt-domain-wrap #zt-domain-ext > ul .check .fa {
    width: 8px;
}
.zt-domain-wrap #zt-domain-ext > ul .check > * {
    display: inline-block;
}
.zt-domain-wrap .zt-domain-results .zt-domain-results-title {
    text-align: center;
}
.zt-domain-wrap .zt-domain-results .zt-domain-results-title h2 {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}
.zt-domain-wrap .zt-domain-results li.zt-domain-item {
    border-bottom: 1px dashed #cdcdcd;
    padding: 10px 0;
    line-height: 37px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-name {
    font-size: 15px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-results-title {
    margin: 8px 0 25px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-available a {
    background-color: #669900;
    color: #fff;
    text-transform: uppercase;
    display: block;
    width: 134px;
    height: 39px;
    line-height: 39px;
    font-size: 15px;
    padding: 0 22px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-available a.not-available {
    background-color: #e4e4e4;
    color: #666666;
}
.zt-domain-wrap .zt-domain-results .zt-domain-available .fa {
    font-size: 29px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-price {
    font-size: 18px;
}
.zt-domain-wrap .zt-domain-results .zt-domain-price .zt-whois {
    color: #ff3333;
    text-transform: uppercase;
}
.zt-domain-wrap .zt-domain-results .zt-domain-price .zt-whois .fa {
    padding-right: 7px;
}
#circularG {
    position: relative;
    width: 29px;
    height: 29px;
}
.circularG {
    position: absolute;
    background-color: #000000;
    width: 7px;
    height: 7px;
    -moz-border-radius: 4px;
    -moz-animation-name: bounce_circularG;
    -moz-animation-duration: 1.04s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -webkit-border-radius: 4px;
    -webkit-animation-name: bounce_circularG;
    -webkit-animation-duration: 1.04s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -ms-border-radius: 4px;
    -ms-animation-name: bounce_circularG;
    -ms-animation-duration: 1.04s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: normal;
    -o-border-radius: 4px;
    -o-animation-name: bounce_circularG;
    -o-animation-duration: 1.04s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    border-radius: 4px;
    animation-name: bounce_circularG;
    animation-duration: 1.04s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
#circularG_1 {
    left: 0;
    top: 11px;
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}
#circularG_2 {
    left: 3px;
    top: 3px;
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}
#circularG_3 {
    top: 0;
    left: 11px;
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}
#circularG_4 {
    right: 3px;
    top: 3px;
    -moz-animation-delay: 0.78s;
    -webkit-animation-delay: 0.78s;
    -ms-animation-delay: 0.78s;
    -o-animation-delay: 0.78s;
    animation-delay: 0.78s;
}
#circularG_5 {
    right: 0;
    top: 11px;
    -moz-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    animation-delay: 0.91s;
}
#circularG_6 {
    right: 3px;
    bottom: 3px;
    -moz-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    animation-delay: 1.04s;
}
#circularG_7 {
    left: 11px;
    bottom: 0;
    -moz-animation-delay: 1.17s;
    -webkit-animation-delay: 1.17s;
    -ms-animation-delay: 1.17s;
    -o-animation-delay: 1.17s;
    animation-delay: 1.17s;
}
#circularG_8 {
    left: 3px;
    bottom: 3px;
    -moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1);
    }
    100% {
        -moz-transform: scale(0.3);
    }
}
@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.3);
    }
}
@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1);
    }
    100% {
        -ms-transform: scale(0.3);
    }
}
@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1);
    }
    100% {
        -o-transform: scale(0.3);
    }
}
@keyframes bounce_circularG {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.3);
    }
}
