/* ==================== Add Google Font ================= */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* ==================== Global Variable */

@accentColor:         #ff3333;
@textColor:           #000000;
@linkColor:           #000000;
@linkHoverColor:      #ff3333;

@baseFontSize:        14px;
@baseLineHeight:      20px;


/* ==================== Style Default =================== */
.zt-domain-wrap {
  font-family: 'Lato', sans-serif;
  font-size: @baseFontSize;
  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
  a:hover{
    text-decoration: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  div.modal{
    border-radius: 0;
    width: 880px;
    margin-left: -440px;
  }
  .modal-header{
    background-color: #cccccc;
    padding: 20px 15px;
  }
  .search-label{
    font-size: @baseFontSize + 5;
    line-height: @baseLineHeight + 27px;
  }
  .search {
    input[type="text"], input[type="password"], input[type="tel"], input[type="email"]{
      height: 47px;
      width: ~"calc(100% - 200px)";
      border: 1px solid #e0e0e0;
      border-radius: 0;
      font-size: @baseFontSize - 1;
      padding-left: 10px;
      float: left;
      box-shadow: none;
    }
    .btn-search{
      width: 182px;
      height: 47px;
      text-align: center;
      line-height: @baseLineHeight + 19px;
      background-color: @accentColor;
      background-image: none;
      border: none;
      border-radius: 0;
      float: right;
      text-shadow: none;
      font-size: @baseFontSize;
      color: #fff;
      .fa{
        font-size: @baseFontSize + 3;
        padding-left: 10px;
      }
    }
  }
  #zt-domain-ext{
    display: none;
    .zt-domain-ext-title{
      border-bottom: 1px solid #e0e0e0;
      margin: 40px 0 38px;
      padding-bottom: 30px;
      span, .fa{
        color: @accentColor;
        cursor: pointer;
      }
    }
    > ul{
      li{
        margin-bottom: 19px;
        width: 10%;
        .SCheckbox{
          opacity: 0;
          visibility: hidden;
          width: 0;
        }
      }
      .check{
        &.checker{
          .fa{
            color: @accentColor;
          }
        }
        color: #666666;
        cursor: pointer;
        .fa{
          width: 8px;
        }
        > *{
          display: inline-block;
        }
      }
    }
  }
  .zt-domain-results{
    .zt-domain-results-title{
      text-align: center;
      h2{
        font-size: @baseFontSize + 11px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
    li.zt-domain-item{
      border-bottom: 1px dashed #cdcdcd;
      padding: 10px 0;
      line-height: @baseLineHeight + 17px;
    }
    .zt-domain-name{
      font-size: @baseFontSize + 1;
    }
    .zt-domain-results-title{
      margin: 8px 0 25px;
    }
    .zt-domain-available{
      a{
        background-color: #669900;
        color: #fff;
        text-transform: uppercase;
        display: block;
        width: 134px;
        height: 39px;
        line-height: 39px;
        font-size: @baseFontSize + 1;
        padding: 0 22px;
        &.not-available{
          background-color: #e4e4e4;
          color: #666666;
        }
      }
      .fa{
        font-size: @baseFontSize + 15 ;
      }
    }
    .zt-domain-price{
      font-size: @baseFontSize + 4;
      .zt-whois{
        color: @accentColor;
        text-transform: uppercase;
        .fa{
          padding-right: 7px;
        }
      }
    }
  }
}

#circularG{
  position:relative;
  width:29px;
  height:29px}

.circularG{
  position:absolute;
  background-color:#000000;
  width:7px;
  height:7px;
  -moz-border-radius:4px;
  -moz-animation-name:bounce_circularG;
  -moz-animation-duration:1.04s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:normal;
  -webkit-border-radius:4px;
  -webkit-animation-name:bounce_circularG;
  -webkit-animation-duration:1.04s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:normal;
  -ms-border-radius:4px;
  -ms-animation-name:bounce_circularG;
  -ms-animation-duration:1.04s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:normal;
  -o-border-radius:4px;
  -o-animation-name:bounce_circularG;
  -o-animation-duration:1.04s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:normal;
  border-radius:4px;
  animation-name:bounce_circularG;
  animation-duration:1.04s;
  animation-iteration-count:infinite;
  animation-direction:normal;
}

#circularG_1{
  left:0;
  top:11px;
  -moz-animation-delay:0.39s;
  -webkit-animation-delay:0.39s;
  -ms-animation-delay:0.39s;
  -o-animation-delay:0.39s;
  animation-delay:0.39s;
}

#circularG_2{
  left:3px;
  top:3px;
  -moz-animation-delay:0.52s;
  -webkit-animation-delay:0.52s;
  -ms-animation-delay:0.52s;
  -o-animation-delay:0.52s;
  animation-delay:0.52s;
}

#circularG_3{
  top:0;
  left:11px;
  -moz-animation-delay:0.65s;
  -webkit-animation-delay:0.65s;
  -ms-animation-delay:0.65s;
  -o-animation-delay:0.65s;
  animation-delay:0.65s;
}

#circularG_4{
  right:3px;
  top:3px;
  -moz-animation-delay:0.78s;
  -webkit-animation-delay:0.78s;
  -ms-animation-delay:0.78s;
  -o-animation-delay:0.78s;
  animation-delay:0.78s;
}

#circularG_5{
  right:0;
  top:11px;
  -moz-animation-delay:0.91s;
  -webkit-animation-delay:0.91s;
  -ms-animation-delay:0.91s;
  -o-animation-delay:0.91s;
  animation-delay:0.91s;
}

#circularG_6{
  right:3px;
  bottom:3px;
  -moz-animation-delay:1.04s;
  -webkit-animation-delay:1.04s;
  -ms-animation-delay:1.04s;
  -o-animation-delay:1.04s;
  animation-delay:1.04s;
}

#circularG_7{
  left:11px;
  bottom:0;
  -moz-animation-delay:1.17s;
  -webkit-animation-delay:1.17s;
  -ms-animation-delay:1.17s;
  -o-animation-delay:1.17s;
  animation-delay:1.17s;
}

#circularG_8{
  left:3px;
  bottom:3px;
  -moz-animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
  -o-animation-delay:1.3s;
  animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
  0%{
    -moz-transform:scale(1)}

  100%{
    -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
  0%{
    -webkit-transform:scale(1)}

  100%{
    -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
  0%{
    -ms-transform:scale(1)}

  100%{
    -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
  0%{
    -o-transform:scale(1)}

  100%{
    -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
  0%{
    transform:scale(1)}

  100%{
    transform:scale(.3)}

} - See more at: http://cssload.net/#sthash.IEnLAEEl.dpuf